<h1><strong>Hello World !</strong></h1>

<div>
    <p>Nous possédons une flotte de {{  numberOfStarships }} vaisseaux spaciaux</p>
    {% if numberOfStarships > 400 %}
    <p>C'est une flotte considérable ! </p>
    {% endif %}
</div>

<div>
    <table>
        <tr>
            <th>Nom</th>
            <th>Classe</th>
            <th>Capitaine</th>
            <th>Statut</th>
        </tr>
        <tr>
            <td>{{ myShip.name }}</td>
            <td>{{ myShip.class }}</td>
            <td>{{ myShip.captain }}</td>
            <td>{{ myShip.status }}</td>
        </tr>
    </table>
</div>